//color variables
$black: #323232;
$off-white: #fafafa;
$white: #ffffff;

//text size variables
$bigH1: 60px;
$h1: 36px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 12px;
$mobileh1: 24px;
$mobileh2: 14px;
$mobileh4: 13px;