//Viewport Height Variables
$tabletScreen: 768px;
$desktopScreen: 1280px;

//color variables
$black: #323232;
$off-white: #fafafa;
$white: #ffffff;

//text size variables
$heroH1: 78px;
$bigH1: 60px;
$kindaBigH1: 46px;
$h1: 36px;
$h2: 30px;
$h3: 22px;
$h4: 14px;
$h5: 12px;
$mobileh1: 24px;
$mobileh2: 14px;
$mobileh4: 13px;