@font-face {
  font-family: "Avenir";
  src: url("../../assets/global-fonts/avenirNextLTPro-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/global-fonts/avenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/global-fonts/avenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 47.2rem;
  background-image: url("../assets/Images/synth-wave-sun.jpg");
  background-size: cover;
  background-position: center;
  -webkit-padding-start: 1.6rem;
          padding-inline-start: 1.6rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero {
    height: 67rem;
    -webkit-padding-start: 2.4rem;
            padding-inline-start: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 67rem;
    -webkit-padding-start: 18rem;
            padding-inline-start: 18rem;
  }
}
.hero__album-name {
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hero__album-name {
    font-size: 24px;
  }
}
.hero__text {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
  margin-bottom: 6.4rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 60px;
  }
}
.hero__soundcloud-player {
  width: 90%;
  height: 10rem;
}
@media (min-width: 768px) {
  .hero__soundcloud-player {
    width: 60%;
    height: 15rem;
  }
}

.shows {
  -webkit-padding-start: 1.6rem;
          padding-inline-start: 1.6rem;
  -webkit-padding-end: 1.6rem;
          padding-inline-end: 1.6rem;
}
@media (min-width: 768px) {
  .shows {
    -webkit-padding-start: 2.4rem;
            padding-inline-start: 2.4rem;
    -webkit-padding-end: 2.4rem;
            padding-inline-end: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    -webkit-padding-start: 18rem;
            padding-inline-start: 18rem;
    -webkit-padding-end: 18rem;
            padding-inline-end: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.shows__title {
  font-size: 24px;
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: 18rem;
    margin-top: 4.8rem;
  }
}
.shows__pinned-label-container {
  display: none;
  position: relative;
  height: 3rem;
}
@media (min-width: 768px) {
  .shows__pinned-label-container {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .shows__pinned-label-container {
    width: 80%;
    margin-top: 3.2rem;
  }
}
.shows__show-list {
  position: relative;
  margin-bottom: 4rem;
}
@media (min-width: 1280px) {
  .shows__show-list {
    width: 80%;
  }
}
.shows__show {
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .shows__show {
    display: flex;
    align-items: center;
    height: 8rem;
  }
}
.shows__show__date {
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .shows__show__date {
    margin: 0;
    width: 25%;
  }
}
.shows__show__venue {
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  .shows__show__venue {
    margin: 0;
    width: 25%;
  }
}
.shows__show__location {
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .shows__show__location {
    margin: 0;
    width: 25%;
  }
}
.shows__show__buy-tickets-button {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #323232;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 1.5rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .shows__show__buy-tickets-button {
    width: 16rem;
    margin-left: auto;
    margin-bottom: 0;
  }
}
.shows__label__date {
  color: #AFAFAF;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__label__date {
    display: none;
  }
}
.shows__label__date-pin {
  color: #AFAFAF;
  font-weight: 500;
  display: none;
}
@media (min-width: 768px) {
  .shows__label__date-pin {
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 14px;
  }
}
.shows__label__venue {
  color: #AFAFAF;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__label__venue {
    display: none;
  }
}
.shows__label__venue-pin {
  display: none;
  color: #AFAFAF;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__label__venue-pin {
    display: inline-block;
    position: absolute;
    left: 25%;
    font-size: 14px;
  }
}
.shows__label__location {
  color: #AFAFAF;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__label__location {
    display: none;
  }
}
.shows__label__location-pin {
  display: none;
  color: #AFAFAF;
  font-weight: 500;
}
@media (min-width: 768px) {
  .shows__label__location-pin {
    display: inline-block;
    position: absolute;
    left: 50%;
    font-size: 14px;
  }
}
.shows__text__date {
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 768px) {
  .shows__text__date {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .shows__text__venue {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .shows__text__location {
    font-size: 14px;
  }
}/*# sourceMappingURL=shows.css.map */