@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;


html {
    font-size: 10px;
}

body {
    font-family: 'Avenir';
    font-weight: 400;
    color: $black;
    margin: 0;
}

//Apply border to get reference of elements

//navbar for all pages
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background-color: $black;

    @include tablet {
        flex-direction: row;
        height: 8rem;
        padding-inline-start: 2.4rem;
    }

    @include desktop {
        padding-inline-start: 18rem;
        height: 8rem;
    }

    &__title {
        font-weight: 300;
        padding-top: 1.6rem;
        margin: 0;
        margin-bottom: 1.6rem;

        @include tablet {
            font-size: $h1;
            margin: 3rem 0;
        }

        @include desktop {
            font-size: $h1;
            margin-right: 5.6rem;
        }
    }

    &__link {
        display: inline-block;
    }

    &__image {
        height: 2rem;
        padding: 1.5rem;
    }

    &__nav-items {
        box-sizing: border-box;
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
        
        .nav-active {
            border-bottom: 6px solid $white;

            @include desktop{
                padding-top: 2rem;
            }
        }

        @include tablet {
            height: 100%;
        }
    }

    &__nav-item {
        width: 50%;
        text-align: center;
        font-weight: 500;
        padding-bottom: 1rem;
        
        @include tablet {
            padding-top: 1.5rem;
            margin: 0 4rem;
            width: 14rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include desktop {
            font-size: $h2;
            width: 12rem;
            margin-right: 5.6rem;
        }

        .nav-link-active {
            opacity: 1;
        }
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        color: $off-white;
        opacity: .7;
        font-size: $mobileh2;
        font-weight: 500;

        @include tablet {
            font-size: $h2;
        }
    }
}

//Footer
.footer {
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    background-color: $black;
    color: $white;

    @include tablet {
        padding-inline-start: 2.4rem;
        padding-inline-end: 2.4rem;
    }

    @include desktop {
        padding-inline-start: 18rem;
        padding-inline-end: 18rem;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            justify-content: flex-start;
        }
    }

        &__title-container {
            margin: 6rem 0 0 0;

            @include tablet {
                display: flex;
                align-items: center;
                width: 30%;
                margin: 0;
            }

            @include desktop {
                width: 25%;
            }
        }

        &__title {
            font-size: $h1;
            padding: 0;
            margin: 0;

            @include tablet {
                margin: 4rem 0;
                font-size: 3.6rem;
            }
            
            @include desktop {
                font-size: 3.2rem;
            }
        }  

        &__icon-container {
            margin: 2rem 0;

            @include tablet {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @include desktop {
                width: 25%;
                justify-content: space-between;
            }

            &__image {
                height: 2rem;
                padding: 1rem;
                margin-right: 1.5rem;

                @include desktop{
                    margin-right: 3.2rem;
                    padding: 0;
                }
            }
        }

        &__logo-container {
            display: none;

            @include tablet {
                width: 30%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            @include desktop {
                width: 25%;
                margin-left: auto;
            }

            &__logo {
                @include tablet {
                    width: 15rem;
                    height: 4rem;
                }

                @include desktop {
                    width: 10rem;
                    height: 2rem;
                }
            }    
        }
        

        &__credits {

            @include tablet {
                width: 30%;
                justify-content: space-between;
            }

            @include desktop {
                width: 25%;
                justify-content: flex-start;
                font-size: 1.6rem;
            }

            &__name {
                font-size: $mobileh2;
                font-weight: 500;
                margin: 2rem 0;

                @include tablet {
                    font-size: $h3;
                }

                p {
                    line-height: 2.2rem;
                    padding: 0;
                    margin: 0;
                }
            }

            &__address {
                font-size: $h5;
                margin: 2rem 0;

                @include tablet {
                    font-size: $h3;
                }
                
                p {
                    line-height: 2.4rem;
                    padding: 0;
                    margin: 0;
                }

            }

            &__email {
                font-size: $h5;
                margin:2rem 0;
                
                @include tablet {
                    font-size: $h3;
                }

                p {
                    line-height: 2.4rem;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    

    &__copyright {
        font-size: $h5;
        padding-bottom: 2rem;

        @include tablet {
            display: flex;
            justify-content: flex-start;
            font-size: $h3;
            margin-top: 2rem;
        }

        @include desktop {
            font-size: 1.6rem;
        }

        p {
            padding: .2rem;
            margin: 0;
        }
    }
}


input:focus, textarea:focus, select:focus{
    outline: none;
}