@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

//Setting some standards
html {
    font-size: 10px;
}

body {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    color: $black;
    margin: 0;
}

//hero
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 18.3rem;
    background-image: url('../assets/Images/hero-image.jpg');
    background-size: cover;
    padding-inline-start: 1.6rem;

    @include tablet {
        height: 40rem;
        padding-inline-start: 2.4rem;
    }

    @include desktop {
        height: 67rem;
        padding-inline-start: 18rem;
    }

    &__text {
        font-size: $mobileh1;
        margin: 0;
        color: $white;

        @include tablet {
            font-size: $heroH1;
        }
    }
}

.about {
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    margin-bottom: 2rem;

    @include tablet {
        padding-inline-start: 2.4rem;
        padding-inline-end: 2.4rem;
    }

    @include desktop {
        padding-inline-start: 18rem;
        padding-inline-end: 18rem;
    }

    &__header {
        display: flex;
        flex-direction: column;

        &__title {
                font-size: $mobileh1;
                padding-top: 1rem;

                @include tablet {
                    font-size: $h1;
                }
                
            }
    }

    

    &__image {
        @include desktop {
            padding: 0 10rem;
        } 
    }

    &__quote {
        font-size: $mobileh2;
        line-height: 2.2rem;
        font-weight: 500;
        margin: 2.4rem 0;

        @include tablet {
            font-size: $h2;
            font-weight: 700;
            line-height: 3.2rem;
        }

        @include desktop {
            padding: 0 10rem;
        }
    }

    &__author {
        font-size: $mobileh4;
        font-weight: 500;
        margin: 0;
        margin-top: .8rem;

        @include tablet {
            font-size: $h3;

        }
        @include desktop {
            padding: 0 10rem;
        }
    }

    &__article {
        margin-top: 4rem;

        @include desktop {
            padding: 0 10rem;
        }

    }

    &__title {
        font-size: $mobileh2;
        font-weight: 500;
        @include tablet {
            font-size: $h2;
            font-weight: 700;
        }
    }

    &__paragraph-container {
        display: flex;  
        flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }

    &__paragraph {
        font-size: $mobileh4;
        line-height: 1.8rem;
        margin-right: 2.4rem;
        @include tablet {
            font-size: $h4;
            line-height: 2.2rem;
        }
    }
}

.gallery {
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    padding: 0 auto;
    background-color: $off-white;

    @include tablet {
        display: flex;
        flex-direction: column;
        padding-inline-start: 2.4rem;
        padding-inline-end: 2.4rem;
    }

    @include desktop {
        padding-inline-start: 18rem;
        padding-inline-end: 18rem;
    }

    &__title {
        font-size: $mobileh1;
        padding: 2.5rem 0 1rem 0;
        margin: 0;

        @include tablet {
            font-size: $h1;
        }
    }

    &__image-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.5rem;
        }

        &__image {
            padding: .5rem 0;
            width: 100%;

            @include tablet{
                box-sizing: border-box;
                width: 224px;
            }

            @include desktop{
                box-sizing: border-box;
                width: 344px;
                margin-right: 2rem;
            }
        }
    }
}

.comments {
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include tablet {
        padding-inline-start: 12rem;
        padding-inline-end: 12rem;
    }
    
    @include desktop {
        padding-inline-start: 18rem;
        padding-inline-end: 18rem;
    }

    &__title {
        font-size: $mobileh1;
        padding: 3.2rem 0 4rem;
        width: fit-content;
        margin-right: auto;
        order: 3;

        @include tablet {
            font-size: $h1;
            margin-left: -9.8rem;
            padding: 3rem 0 3rem 0;
        }

        @include desktop {
            margin: 0;
            margin-right: auto;
        }
    }

    &__formContainer {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #E1E1E1;
        width: 100%;
        margin: 0;
        padding: 0;
        order: 2;

        @include desktop {
            justify-content: space-between;
            width: 52.8rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 22.4rem;
        margin-left: 2rem;
        
        @include tablet{
            width: 100%;
        }

        @include desktop{
            width: 46rem;
        }

        &__label {
            font-weight: 500;
            color: #AFAFAF;
            margin-bottom: .2rem;

            @include tablet {
                font-size: $h4;
            }
        }

        &__input {
            font-family: 'Avenir', sans-serif;
            margin-bottom: 2.4rem;
            border: 1px solid #E1E1E1;
            border-radius: 3px;
            background-color: #FAFAFA;
            resize: none;
            padding: 1.3rem;

            @include tablet {
                padding: 1.5rem 2rem;
                font-size: $h3;
            }

            &__active {
                border: 2px solid $black;
            }
        }

        &__submit {
            font-family: 'Avenir', sans-serif;
            font-weight: 500;
            color: white;
            background-color: $black;
            border: none;
            border-radius: 5px;
            padding: 1.5rem;
            margin-bottom: 3.2rem;

            @include tablet {
                width: 35%;
                margin-left: auto;
                padding: 1.5rem 2rem;
            }
        }
    }

    &__textarea{
        height: 10rem;
    }

    &__user-profile-pic {
        width: 4.8rem;
        height: 4.8rem;
        margin-top: 1.5rem;
        border-radius: 50%;
        background-image: url('../assets/Images/Mohan-muruge.jpg');
        background-size: cover;

        @include tablet {
            width: 5.3rem;
            height: 5.3rem;
            margin-top: 2rem;
        }
    }

    &__comment-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E1E1E1;
        padding: 1rem 0;
        width: 100%;

        @include desktop{
            width: 52.8rem;
        }
    }

    &__profile-pic {
        margin-top: 2.4rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: #E1E1E1;

        @include tablet{
            width: 4rem;
            height: 4rem;
            margin-top: 1.3rem;
        }
    }

    &__comment-text {
        width: 90%;
        position: relative;
        font-size: $mobileh2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: 2.4rem 0;
        padding: 0;
        margin-left: 1.6rem;

        *{
            margin: 0;
        }

        @include tablet {
            font-size: $h3;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }

        &__name {
            font-weight: 500;
            margin-bottom: 1.6rem;

            @include tablet{
                width: fit-content;
                margin-right: 1rem;
            }
            
        }

        &__timestamp {
            position: absolute;
            right: 0rem;
            top: 0rem;
            color: #AFAFAF;

            @include tablet{
                position: relative;
                margin-bottom: 1.6rem;
                margin-right: 1.6rem;
            }
        }

        &__comment {

            @include tablet{
                width: 100%;
            }
        }
    }
}


::placeholder{
                color: $black;
                font-weight: 400;
            }